In [ ]:
import pandas as pd
import numpy as np
import zipfile
import requests
from io import BytesIO
import os

In [2]:
# Criar um diretório para armazenar o conteúdo do ENEM
os.makedirs('enem2020', exist_ok=True)

In [4]:
# define a url 
url = "https://download.inep.gov.br/microdados/microdados_enem_2020.zip"

# Faz o download do conteudo
filebytes = BytesIO(
 requests.get(url).content        
)

# Extrair o conteudo do zipfile
myzip = zipfile.ZipFile(filebytes)
myzip.extractall("./enem2020")

In [7]:
source = './enem2020/DADOS/MICRODADOS_ENEM_2020.csv'
enem = pd.read_csv(source,encoding="ISO-8859-1",delimiter=";",
                    usecols=['NU_NOTA_MT','SG_UF_ESC','NU_NOTA_CN','NU_NOTA_CH','NU_NOTA_LC',
                            'TP_SEXO','NO_MUNICIPIO_ESC','Q021','Q016','Q002','Q005','Q001','Q006',
                            'TP_LINGUA','TP_FAIXA_ETARIA','TP_ESCOLA'])

In [8]:
enem.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5783109 entries, 0 to 5783108
Data columns (total 16 columns):
 #   Column            Dtype
---  ------            -----
 0   TP_FAIXA_ETARIA   int64
 1   TP_SEXO           object
 2   TP_ESCOLA         int64
 3   NO_MUNICIPIO_ESC  object
 4   SG_UF_ESC         object
 5   NU_NOTA_CN        float64
 6   NU_NOTA_CH        float64
 7   NU_NOTA_LC        float64
 8   NU_NOTA_MT        float64
 9   TP_LINGUA         int64
 10  Q001              object
 11  Q002              object
 12  Q005              float64
 13  Q006              object
 14  Q016              object
 15  Q021              object
dtypes: float64(5), int64(3), object(8)
memory usage: 705.9+ MB

In [4]:
enem

,NU_INSCRICAO,NU_ANO,TP_FAIXA_ETARIA,TP_SEXO,TP_ESTADO_CIVIL,TP_COR_RACA,TP_NACIONALIDADE,TP_ST_CONCLUSAO,TP_ANO_CONCLUIU,TP_ESCOLA,...,Q016,Q017,Q018,Q019,Q020,Q021,Q022,Q023,Q024,Q025
0,200006271946,2020,11,F,1,2,1,1,11,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,200001195856,2020,11,M,2,3,1,1,11,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,200001943954,2020,4,F,2,3,2,2,0,2,...,B,A,A,B,A,A,A,A,A,A
3,200001908998,2020,2,M,1,3,1,2,0,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,200001634757,2020,4,F,1,3,2,1,1,1,...,A,A,A,B,A,B,B,A,A,B
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5783104,200003396891,2020,2,F,1,1,1,2,0,2,...,B,A,A,B,A,A,D,A,B,B
5783105,200006040822,2020,3,M,1,1,1,2,0,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5783106,200004928656,2020,3,F,1,1,1,1,1,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5783107,200006774808,2020,4,F,1,1,1,2,0,3,...,B,B,B,D,B,B,E,A,D,B
5783108,200007078230,2020,2,F,1,3,1,2,0,2,...,A,A,A,B,B,A,D,A,A,B

In [5]:
enem.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5783109 entries, 0 to 5783108
Data columns (total 76 columns):
 #   Column                  Dtype
---  ------                  -----
 0   NU_INSCRICAO            int64
 1   NU_ANO                  int64
 2   TP_FAIXA_ETARIA         int64
 3   TP_SEXO                 object
 4   TP_ESTADO_CIVIL         int64
 5   TP_COR_RACA             int64
 6   TP_NACIONALIDADE        int64
 7   TP_ST_CONCLUSAO         int64
 8   TP_ANO_CONCLUIU         int64
 9   TP_ESCOLA               int64
 10  TP_ENSINO               float64
 11  IN_TREINEIRO            int64
 12  CO_MUNICIPIO_ESC        float64
 13  NO_MUNICIPIO_ESC        object
 14  CO_UF_ESC               float64
 15  SG_UF_ESC               object
 16  TP_DEPENDENCIA_ADM_ESC  float64
 17  TP_LOCALIZACAO_ESC      float64
 18  TP_SIT_FUNC_ESC         float64
 19  CO_MUNICIPIO_PROVA      int64
 20  NO_MUNICIPIO_PROVA      object
 21  CO_UF_PROVA             int64
 22  SG_UF_PROVA             object
 23  TP_PRESENCA_CN          int64
 24  TP_PRESENCA_CH          int64
 25  TP_PRESENCA_LC          int64
 26  TP_PRESENCA_MT          int64
 27  CO_PROVA_CN             float64
 28  CO_PROVA_CH             float64
 29  CO_PROVA_LC             float64
 30  CO_PROVA_MT             float64
 31  NU_NOTA_CN              object
 32  NU_NOTA_CH              object
 33  NU_NOTA_LC              object
 34  NU_NOTA_MT              object
 35  TX_RESPOSTAS_CN         object
 36  TX_RESPOSTAS_CH         object
 37  TX_RESPOSTAS_LC         object
 38  TX_RESPOSTAS_MT         object
 39  TP_LINGUA               int64
 40  TX_GABARITO_CN          object
 41  TX_GABARITO_CH          object
 42  TX_GABARITO_LC          object
 43  TX_GABARITO_MT          object
 44  TP_STATUS_REDACAO       float64
 45  NU_NOTA_COMP1           float64
 46  NU_NOTA_COMP2           float64
 47  NU_NOTA_COMP3           float64
 48  NU_NOTA_COMP4           float64
 49  NU_NOTA_COMP5           float64
 50  NU_NOTA_REDACAO         float64
 51  Q001                    object
 52  Q002                    object
 53  Q003                    object
 54  Q004                    object
 55  Q005                    float64
 56  Q006                    object
 57  Q007                    object
 58  Q008                    object
 59  Q009                    object
 60  Q010                    object
 61  Q011                    object
 62  Q012                    object
 63  Q013                    object
 64  Q014                    object
 65  Q015                    object
 66  Q016                    object
 67  Q017                    object
 68  Q018                    object
 69  Q019                    object
 70  Q020                    object
 71  Q021                    object
 72  Q022                    object
 73  Q023                    object
 74  Q024                    object
 75  Q025                    object
dtypes: float64(18), int64(17), object(41)
memory usage: 3.3+ GB

In [9]:

enem.loc[
    (enem.SG_UF_ESC == 'MG') &
    (enem.TP_SEXO =='F')
].NU_NOTA_CH.describe()

count    27313.000000
mean       541.308461
std         95.129390
min          0.000000
25%        470.900000
50%        546.700000
75%        613.500000
max        862.600000
Name: NU_NOTA_CH, dtype: float64

# Pergunta 1 
Qual é a média da nota em matemática dos alunos que estudaram numa escola em Minas Gerais?

In [10]:

enem.loc[
    enem.SG_UF_ESC == 'MG'
].NU_NOTA_MT.describe()

count    46999.000000
mean       579.681223
std        124.704787
min          0.000000
25%        482.300000
50%        583.000000
75%        666.400000
max        975.000000
Name: NU_NOTA_MT, dtype: float64

# Pergunta 2
Qual é a média da nota em Linguagens e Códigos dos alunos que estudaram numa escola em Minas Gerais?

In [11]:
enem.loc[
    enem.SG_UF_ESC == 'MG'
].NU_NOTA_LC.describe()

count    48575.000000
mean       553.010291
std         69.287383
min          0.000000
25%        513.700000
50%        560.300000
75%        601.200000
max        759.600000
Name: NU_NOTA_LC, dtype: float64

# Pergunta 3
Qual é a média da nota em Ciências Humanas dos alunos do sexo FEMININO que estudaram numa escola em Minas Gerais?

In [14]:

enem.loc[
    (enem.SG_UF_ESC == 'MG') &
    (enem.TP_SEXO =='F')
].NU_NOTA_CH.describe()

count    27313.000000
mean       541.308461
std         95.129390
min          0.000000
25%        470.900000
50%        546.700000
75%        613.500000
max        862.600000
Name: NU_NOTA_CH, dtype: float64

# Pergunta 4
Qual é a média da nota em Ciências Humanas dos alunos do sexo MASCULINO que estudaram numa escola em Minas Gerais?

In [15]:
enem.loc[
    (enem.SG_UF_ESC == 'MG') &
    (enem.TP_SEXO =='M')
].NU_NOTA_CH.describe()

count    21262.000000
mean       559.554684
std         94.888096
min          0.000000
25%        498.000000
50%        569.300000
75%        627.800000
max        844.000000
Name: NU_NOTA_CH, dtype: float64

# Pergunta 5
Qual é a média da nota em Matemática dos alunos do sexo FEMININO que estudaram numa escola na cidade de Montes Claros?

In [18]:
enem.loc[
    (enem.TP_SEXO =='F') &
    (enem.NO_MUNICIPIO_ESC == 'Montes Claros')
].NU_NOTA_MT.describe()

count    842.000000
mean     562.988836
std      119.993797
min      329.200000
25%      470.175000
50%      568.500000
75%      647.400000
max      922.200000
Name: NU_NOTA_MT, dtype: float64

# Pergunta 6
Qual é a média da nota em Matemática dos alunos que estudaram numa escola no município de Sabará e que possuem TV por assinatura na residência?

In [20]:
enem.loc[
    (enem.NO_MUNICIPIO_ESC == 'Sabará') &
    (enem.Q021 == 'B')
].NU_NOTA_MT.describe()

count     67.000000
mean     580.102985
std      121.578984
min      360.900000
25%      491.800000
50%      597.300000
75%      672.100000
max      803.900000
Name: NU_NOTA_MT, dtype: float64

# Pergunta 7
Qual é a média da nota em Ciências Humanas dos alunos que estudaram numa escola em Minas Gerais e que possuem dois fornos micro-ondas em casa?

In [21]:
enem.loc[
    (enem.SG_UF_ESC == 'MG') &
    (enem.Q016 == 'C')
].NU_NOTA_CH.describe()

count    396.000000
mean     601.482576
std       92.434640
min      343.600000
25%      554.150000
50%      614.000000
75%      669.200000
max      794.000000
Name: NU_NOTA_CH, dtype: float64

# Pergunta 8
Qual é a nota média em Matemática dos alunos que estudaram numa escola em Minas Gerais e cuja mãe completou a pós-graduação?

In [22]:
enem.loc[
    (enem.SG_UF_ESC == 'MG') &
    (enem.Q002 == 'G')
].NU_NOTA_MT.describe()

count    8483.000000
mean      642.245184
std       122.806820
min       328.200000
25%       561.050000
50%       648.800000
75%       726.550000
max       975.000000
Name: NU_NOTA_MT, dtype: float64

# Pergunta 9
Qual é a nota média em Matemática dos alunos que estudaram numa escola em Belo Horizonte ou em Conselheiro Lafaiete?

In [40]:
enem.loc[
    (enem.NO_MUNICIPIO_ESC == 'Belo Horizonte') |
    (enem.NO_MUNICIPIO_ESC == 'Conselheiro Lafaiete')
].NU_NOTA_MT.describe()

count    8732.000000
mean      621.028252
std       132.600884
min         0.000000
25%       523.975000
50%       626.400000
75%       713.300000
max       975.000000
Name: NU_NOTA_MT, dtype: float64

# Pergunta 10
Qual é a nota média em Ciências Humanas dos alunos que estudaram numa escola em Minas Gerais e que moram sozinhos?

In [42]:
enem.loc[
   (enem.SG_UF_ESC == 'MG') &
   (enem.Q005 == 1)
].NU_NOTA_CH.describe()

count    158.000000
mean     537.054430
std      116.166617
min        0.000000
25%      442.900000
50%      541.700000
75%      618.850000
max      758.200000
Name: NU_NOTA_CH, dtype: float64

# Pergunta 11
Qual é a nota média em Ciências Humanas dos alunos que estudaram numa escola em Minas Gerais, cujo pai completou pós-graduação e possuem renda familiar entre R$ 8.360,01 e R$ 9.405,00?

In [43]:
enem.loc[
   (enem.SG_UF_ESC == 'MG') &
   (enem.Q001 == 'G') &
   (enem.Q006 == 'L')
].NU_NOTA_CH.describe()

count    213.000000
mean     623.942254
std       86.300778
min        0.000000
25%      584.900000
50%      637.700000
75%      680.900000
max      769.900000
Name: NU_NOTA_CH, dtype: float64

# Pergunta 12
Qual é a nota média em Matemática dos alunos do sexo Feminino que estudaram numa escola em Lavras e escolheram “Espanhol” como língua estrangeira?

In [46]:
enem.loc[
   (enem.SG_UF_ESC == 'MG') &
   (enem.TP_SEXO =='F') &
   (enem.NO_MUNICIPIO_ESC == 'Lavras') &
   (enem.TP_LINGUA == 1)
].NU_NOTA_MT.describe()

count     96.000000
mean     513.383333
std      105.603841
min      341.400000
25%      425.875000
50%      505.600000
75%      593.675000
max      746.100000
Name: NU_NOTA_MT, dtype: float64

# Pergunta 13
Qual é a nota média em Matemática dos alunos do sexo Masculino que estudaram numa escola em Ouro Preto?

In [47]:
enem.loc[
   (enem.NO_MUNICIPIO_ESC == 'Ouro Preto') &
   (enem.TP_SEXO =='M')
].NU_NOTA_MT.describe()

count    136.000000
mean     615.582353
std       98.424854
min      379.100000
25%      543.175000
50%      628.400000
75%      686.100000
max      821.000000
Name: NU_NOTA_MT, dtype: float64

# Pergunta 14
Qual é a nota média em Ciências Humanas dos alunos que estudaram numa escola em Minas Gerais e possuem entre 26 e 30 anos?

In [49]:
enem.loc[
   (enem.SG_UF_ESC == 'MG') &
   (enem.TP_FAIXA_ETARIA == 11 )
].NU_NOTA_CH.describe()

count     77.000000
mean     473.477922
std       71.733505
min      344.900000
25%      420.500000
50%      466.700000
75%      525.400000
max      654.500000
Name: NU_NOTA_CH, dtype: float64

# Pergunta 15
Qual é a nota média em Matemática dos alunos do sexo FEMININO, que estudaram numa escola em Belo Horizonte, Sabará, Nova Lima ou Betim e estudaram em uma escola privada?

In [55]:
enem.loc[
   ((enem.NO_MUNICIPIO_ESC == 'Belo Horizonte') |
   (enem.NO_MUNICIPIO_ESC == 'Sabará') | 
   (enem.NO_MUNICIPIO_ESC == 'Nova Lima') |
   (enem.NO_MUNICIPIO_ESC == 'Betim')) &
   (enem.TP_ESCOLA == 3 ) &
   (enem.TP_SEXO == 'F')
].NU_NOTA_MT.describe()

count    2084.000000
mean      679.136948
std       112.662700
min       334.000000
25%       605.800000
50%       681.900000
75%       758.925000
max       975.000000
Name: NU_NOTA_MT, dtype: float64